body {
  background: #000;
  font-family: sans-serif;
}

#container {
  border: 5px solid white;
  font-size: 25px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

#canvas {
  position: relative;
  height: 700px;
  width: 800px;
}

.slider-container {
  padding: 8px;
}

#slider {
  width: 100%;
}

p {
  color: white;
  margin: 0;
}
