* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  min-height: 100vh;
}

canvas {
  border: 1px solid black;
  height: 1000px;
  margin-left: 20px;
  width: 500px;
}
canvas:last-child {
  margin: 0;
}
